Django>=4.2,<5.0
gunicorn
psycopg2-binary
python-decouple
whitenoise
Pillow
openpyxl
num2words
requests
urllib3
chardet
charset-normalizer
reportlab
pypdf
django-environ
django-select2
django-cleanup
pytesseract
